//colors
$color-base-black: #333333;
$color-base-white: #ffffff;
$color-primary: #7859cf;
$color-hover: #9070ec;
$color-active: #593cac;
$color-disabled: #bdbdbd;
$color-secondary: #f0ebff;
$color-background-light: #f3ebe1;
$color-background-grey: #e5e6e8;
$color-background-catalog: #f8f8f8;
$color-range: #e2e2e2;

// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
