.advantages {
  padding-top: 50px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.advantages__wrapper {
  @include wrapper__size;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 40px;
  }
}

.advantages__list {
  @include list__reset;
  display: grid;
  gap: 42px;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 339px);
    gap: 30px;
    row-gap: 50px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 318px 317px 318px 317px;
    text-align: center;
    justify-content: space-between;
  }
}

.advantages__item {
  @media (min-width: $tablet-width) {
    padding-left: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.advantages__badge {
  margin-bottom: 4px;
}

.advantages__title {
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.advantages__heading {
  font-size: 18px;
  line-height: 32px;
  position: relative;
  margin-bottom: 4px;

  &::before {
    content: "";
    position: relative;
    left: 115px;
    bottom: 10px;
    display: block;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;

    &::before {
      position: absolute;
      left: -71px;
      top: 0;
      bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      position: relative;
      left: 141px;
    }
  }
}

.advantages__description {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;

    br {
      display: none;
    }
  }
}

.advantages__item--speed .advantages__heading {
  &::before {
    width: 50px;
    background-image: url("../../icons/stack.svg#speed");
  }
}

.advantages__item--fit .advantages__heading {
  &::before {
    width: 52px;
    background-image: url("../../icons/stack.svg#fit");
  }
}

.advantages__item--energy .advantages__heading {
  &::before {
    width: 42px;
    background-image: url("../../icons/stack.svg#energy");
  }
}

.advantages__item--eco .advantages__heading {
  &::before {
    width: 46px;
    background-image: url("../../icons/stack.svg#eco");
  }
}
