.header {
  //padding-top: 12px;
  //padding-bottom: 12px;
  //border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    //padding-top: 22px;
    //padding-bottom: 22px;
    //padding-top: 22px;
    //padding-bottom: 0;
    //border-bottom: none;
  }
}

.header__wrapper {
  @include wrapper__size;
  padding-right: 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
    width: $tablet-width;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 40px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 88px;

  @media (min-width: $tablet-width) {
    margin-right: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.header__logo {
  width: 32px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
  }
}

.header__toggle {
  width: 60px;
  background-image: url("../../icons/stack.svg#toggle-opened");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header--closed .header__toggle {
  background-size: 16px 12px;
  background-image: url("../../icons/stack.svg#toggle-opened");
}

.header--opened .header__toggle {
  background-size: 12px 12px;
  background-image: url("../../icons/stack.svg#toggle-closed");
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__toggle:active {
  background-color: $color-secondary;
}

@media (max-width: $mobile-width-only) {
  .header--closed .header__nav-wrapper {
    display: none;
  }

  .header--opened .header__nav-wrapper {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 10;
    min-height: 57px;
    background-color: $color-base-white;
  }
}
