.maps {
  position: relative;
  display: block;
}

.maps__image {
  margin: 0;
  display: block;
  height: 420px;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 480px;
  }

  @media (min-width: $desktop-width) {
    height: 540px;
  }
}

.maps__icon {
  position: absolute;
  content: "";
  width: 38px;
  height: 50px;
  top: 185px;
  left: 165px;

  @media (min-width: $tablet-width) {
    top: 215px;
    left: 380px;
  }

  @media (min-width: $desktop-width) {
    top: 245px;
    left: 716px;
  }
}
