.nav__list {
  @include list__reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
    margin-right: 162px;
  }
}

.nav__item {
  height: 60px;
  min-width: max-content;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.01em;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: none;
  }
}

.nav__list .nav__item {
  border-top: 1px solid $color-secondary;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.nav__list .nav__link {
  padding: 21px 0 22px;

  @media (min-width: $tablet-width) {
    padding: 31px 20px;
  }
}

.nav__link {
  display: block;
  text-decoration: none;
  text-align: center;
  color: $color-base-black;

  @media (min-width: $tablet-width) {
    padding: 31px 21px;
  }
}

.nav__user {
  @include list__reset;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.nav__user .nav__item {
  width: 60px;

  @media (min-width: $desktop-width) {
    min-width: max-content;
  }
}

.nav__user .nav__link {
  display: block;
  padding: 20px 22px;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 8px;
    padding: 31px 20px;
  }
}

.nav__item--current {
  @media (min-width: $tablet-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background: $color-primary;
    }
  }
}

.nav__item--current .nav__link {
  @media (min-width: $tablet-width) {
    color: $color-primary;
  }
}

.nav__icon-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    text-align: center;
  }
}

.nav__link:hover,
.nav__link:focus {
  color: $color-primary;
}

.nav__link:active {
  background-color: $color-secondary;
  color: $color-primary;
}

.nav__user .nav-link:hover,
.nav__user .nav-link:focus-visible {
  color: $color-primary;
  background-color: $color-secondary;
}

.nav__icon-account:focus,
.nav__icon-basket:focus,
.nav__icon-account:hover,
.nav__icon-basket:hover,
.nav__icon-account:active,
.nav__icon-basket:active {
  fill: #7859cf;
}

.nav__toggle {
  width: 60px;
  background-image: url("../../icons/stack.svg#toggle-opened");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav--closed .nav__toggle {
  background-size: 16px 12px;
  background-image: url("../../icons/stack.svg#toggle-opened");
}

.nav--opened .nav__toggle {
  background-size: 12px 12px;
  background-image: url("../../icons/stack.svg#toggle-closed");
}

.nav__toggle:active {
  background-color: $color-secondary;
}

@media (max-width: $mobile-width-only) {
  .nav--closed .nav__nav-wrapper {
    display: none;
  }

  .nav--opened .nav__nav-wrapper {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 10;
    min-height: 57px;
    background-color: $color-base-white;
  }
}
