.promo {
  background-color: $color-background-light;
}

.promo__wrapper-slider {
  @include wrapper__size;
  padding: 0;
  display: grid;
  text-align: center;
  grid-template-columns: 20px 280px 20px;
  grid-template-rows: repeat(5, auto);

  @media (min-width: $tablet-width) {
    text-align: left;
    width: $tablet-width;
    padding: 0 30px;
    grid-template-columns: 90px 619px;
    grid-template-rows: repeat(4, auto);
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 40px;
    grid-template-columns: 80px 367px auto 610px;
    grid-template-rows: repeat(3, auto);
  }
}
