.range__scale {
  position: relative;
  height: 2px;
  background-color: $color-range;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.range__bar {
  position: absolute;
  height: 4px;
  background-color: $color-hover;
  width: 24px;

  @media (min-width: $tablet-width) {
    width: 192px;
  }

  @media (min-width: $desktop-width) {
    width: 274px;
  }
}

.range__toggle {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $color-base-white;
  cursor: pointer;
  border: 2px solid $color-hover;
}

.range__toggle--min {
  top: -10px;
  left: 0;
}

.range__toggle--max {
  top: -10px;
  left: 240px;

  @media (min-width: $tablet-width) {
    left: 180px;
  }

  @media (min-width: $desktop-width) {
    left: 270px;
  }
}

.range__inputs {
  display: flex;
  justify-content: space-between;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 2px;
    left: 136px;
    top: 22px;
    background-color: $color-disabled;
  }

  @media (min-width: $tablet-width) {
    &::after {
      left: 115px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      left: 155px;
    }
  }
}

.range__input {
  width: 118px;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  color: $color-base-black;
  border-radius: 4px;
  background-color: $color-base-white;
  border-color: $color-hover;
  appearance: textfield;

  @media (min-width: $tablet-width) {
    width: 87px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }
}

.range__input:placeholder-shown {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: $color-disabled;
}
